modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "xsimd", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "streamlit-app"

[[workflows.workflow]]
name = "streamlit-app"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37343
externalPort = 3002

[[ports]]
localPort = 38147
externalPort = 4200

[[ports]]
localPort = 39939
externalPort = 5000

[[ports]]
localPort = 40163
externalPort = 3003

[[ports]]
localPort = 40211
externalPort = 3001

[[ports]]
localPort = 43995
externalPort = 5173

[[ports]]
localPort = 44505
externalPort = 3000
